<div>
    <a class="">{{date}}</a>
    <input type="button" value="X" (click)="removeDate()"/>
    <input type="button" value="add a time +" (click)="addTime()"/>
    <div class="" *ngFor="let date of SelectedTimeList; index as i">
            <ngx-timepicker-field [defaultTime]="'11:11 am'" [controlOnly]="true"    (timeChanged)="addStartTime($event,i)"/>
            <ngx-timepicker-field [defaultTime]="'11:11 am'" [controlOnly]="true" (timeChanged)="addEndTime($event,i)"/>
            <input type="button" value="X" (click)="removeTime(i)"/>
    </div>
</div>