<div>
    <span *ngIf="isDataLoaded">
        <div class="meetingInfo">
                <h2  name="meetingTitle">{{meetingTitle}}</h2>

                <p  name="meetingDescription">{{meetingDescription}}</p>
        </div>
        <br>

        <div  *ngFor="let date of SelectedDateList; index as id">
                <div   class="expansion" *ngFor="let time of date.times; index as it" >
                    <mat-expansion-panel [expanded]="time.topPick" [ngClass] = "{'topPickBody' : time.topPick}">
                        <mat-expansion-panel-header [ngClass] = "{'topPick' : time.topPick}">
                            <mat-panel-title>
                                {{date.date}}<br>{{time.startTime}} - {{time.endTime}}
                            </mat-panel-title>
                            <mat-panel-description>
                                <b>{{time.len}} available </b>  <span *ngIf="time.topPick"> - best time</span>
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <span class="availableUsersBox">
                            <div  *ngFor="let user of time.availableUsers; index as it">
                                <p>{{user}}</p>

                            </div>
                        </span>
                    </mat-expansion-panel>
                </div>
        </div>
    </span> 
</div>
<app-spinner *ngIf="!isDataLoaded" class="center-screen"></app-spinner>