<nav >
    <div class="" id="navbarNav">
      <ul class="">
        <li class="logo">
          <a href="/" class="">Schedule Maddness</a>
        </li>
        <li class="">
          <a [routerLink]="['/profile']" class="" *ngIf="username" >{{username}}</a>
        </li>
        <li class="">
          <a href={{logoutUrl}} class="" *ngIf="username" >Logout</a>
        </li>
        <li class="">
          <a  [routerLink]="['/login']" class="" *ngIf="!username">Login</a>
        </li>
        <li class="">
          <a [routerLink]="['/myMeetings']" class="" *ngIf="username" >meetings</a>
        </li>
        <li class="">
          <a [routerLink]="['/meetingSetup']" *ngIf="username" class="">Create Meeting</a>
        </li>
        <li class="">
          <a [routerLink]="['/about']" class="">About</a>
        </li>
        <li class="">
          <a [routerLink]="['/']" class="" aria-current="page">Home</a>
        </li>
      </ul>
    </div>
</nav>