<div>
    <span *ngIf="isDataLoaded">
        <div class="meetingInfo">
            <div>
                <h2  name="meetingTitle">{{meetingTitle}}</h2>

                <p  name="meetingDescription">{{meetingDescription}}</p>
            </div>
            <label for="name">Your name : </label>
            <input type="text" id="name" name="name" value="" [(ngModel)]="name">
            <br><br>
            <div class="" *ngFor="let date of SelectedDateList; index as id">
                <div class="dates">
                    <a class="">{{date.date}}</a>
                    <div class="times" *ngFor="let time of date.times; index as it">
                            <input type="checkbox" id="available-checkbox"  class="availabilityCheckbox"name="available-checkbox" value={{time.isAvailable}}  (click)="updateAvailability(id,it)"> 
                            <label for="available-checkbox">{{time.startTime}} - {{time.endTime}}</label>

                    </div>
                </div>
            </div>
            <br>
            <input type="submit" value="Save Availability" (click)="createTimeRecord()">
        </div>
    </span> 
</div>
<app-spinner *ngIf="!isDataLoaded" class="center-screen"></app-spinner>
