<p>meeting-setup works!</p>

<div>
        <div>
            <label for="profile-username">title</label>
            <input type="text" id="profile-username" name="profile-username" value="" >
        </div>
        <div>
            <label for="profile-first-name">description</label>
            <input type="text" id="profile-first-name" name="profile-first-name" value="" >
        </div>
        <label for="datePicker">Add a Date</label>

        <mat-datepicker-toggle id="datePicker" matIconSuffix [for]="picker"></mat-datepicker-toggle>

        <input matInput [matDatepicker]="picker" placeholder="Choose a date" (dateChange)="dateUpdate($event)" style="visibility: hidden !important;">
        
        <mat-datepicker #picker></mat-datepicker>
        <br><br>
        <div class="" *ngFor="let date of SelectedDateList; index as id">
            <div>
                <a class="">{{date.date}}</a>
                <input type="button" value="X" (click)="removeItem(id)"/>
                <input type="button" value="add a time +" (click)="addTime(id)"/>
                <div class="" *ngFor="let time of date.times; index as it">
                        <ngx-timepicker-field [defaultTime]="'11:11 am'" [controlOnly]="true"    (timeChanged)="addStartTime($event,id,it)"/>
                        <ngx-timepicker-field [defaultTime]="'11:12 am'" [controlOnly]="true" (timeChanged)="addEndTime($event,id,it)"/>
                        <input type="button" value="X" (click)="removeTime(id,it)"/>
                </div>
            </div>
        </div>
        <br>
        <input type="submit" value="Create meeting" (click)="doStuff()">

</div>