#createMeetingCalendar{
    width : 500px;
    height : 550px;
}

.center{
    margin: auto;
    width: 500px;
    padding-top: 50px;
    text-align: center;
}

.dates{
    margin : 20px;
    font-size: 20px;
    margin-top: 40px;
}

.timeList{
    display: inline-block;
}

.timesBlock {
    padding-top : 20px;
}
.dateDisplay{
    float:left;
    width:100%;
}