<div class="center">
    <div class="mb-3 row">
        <label for="profile-username" class="col-sm-3 col-form-label">username</label>
        <div class="col-sm-5">
            <input type="text" id="profile-username" name="profile-username" value="" [(ngModel)]="username"
                disabled="true">
        </div>
    </div>
    <div class="mb-3 row">
        <label for="profile-first-name" class="col-sm-3 col-form-label">first name</label>
        <div class="col-sm-5">

            <input type="text" id="profile-first-name" name="profile-first-name" value="" [(ngModel)]="firstName">
        </div>
    </div>
    <div class="mb-3 row">
        <label for="profile-last-name" class="col-sm-3 col-form-label">last name</label>
        <div class="col-sm-5">

            <input type="text" id="profile-last-name" name="profile-last-name" value="" [(ngModel)]="lastName">
        </div>
    </div>
    <div class="mb-3 row">
        <label for="profile-address" class="col-sm-3 col-form-label">address</label>
        <div class="col-sm-5">

            <input type="text" id="profile-address" name="profile-address" value="" [(ngModel)]="address">
        </div>
    </div>
    <div class="mb-3 row">
        <label for="profile-email" class="col-sm-3 col-form-label">email</label>
        <div class="col-sm-5">

            <input type="text" id="profile-email" name="profile-email" value="" [(ngModel)]="email">
        </div>
    </div>
    <div class="mb-3 row">
        <label for="profile-phone" class="col-sm-3 col-form-label">phone</label>
        <div class="col-sm-5">

            <input type="text" id="profile-phone" name="profile-phone" value="" [(ngModel)]="phone">
        </div>
    </div>
    <input type="submit" value="Submit" (click)="Submit()">
</div>
<app-spinner *ngIf="isloading" class="center-screen"></app-spinner>