<p>profile works!</p>
<div>
    <div>
        <label>username</label>
        <h3 id="profile-username">{{username}}</h3>
    </div>
    <div>
        <label>first name</label>
        <h3 id="profile-first-name">{{firstName}}</h3>
    </div>
    <div>
        <label>last name</label>
        <h3 id="profile-last-name">{{lastName}}</h3>
    </div>
    <div>
        <label>address</label>
        <h3 id="profile-address">{{address}}</h3>
    </div>
    <div>
        <label>email</label>
        <h3 id="profile-email">{{email}}</h3>
    </div>
    <div>
        <label>phone</label>
        <h3 id="profile-phone">{{phone}}</h3>
    </div>
</div>