/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.center-screen {
    width: 50%;
    height: 50%;            
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8; 
    margin-left: 45%;
    margin-top: 20%;
  }